body 
  { margin: 0
  ; padding: 0
  ; font-family: 
      -apple-system
    , BlinkMacSystemFont
    , "Segoe UI", "Roboto"
    , "Oxygen"
    , "Ubuntu"
    , "Cantarell"
    , "Fira Sans"
    , "Droid Sans"
    , "Helvetica Neue"
    , sans-serif
  ; -webkit-font-smoothing: antialiased
  ; -moz-osx-font-smoothing: grayscale
  }Text

code 
  { font-family: 
      source-code-pro
    , Menlo
    , Monaco
    , Consolas
    , "Courier New"
    , monospace
  }

input, textarea
  { background: #fdfdfd
  ; color:#282c34
  }

.CodeMirror, .CodeMirror-scroll 
  { min-height: 200px
  }

header
  { width:500px
  ; margin: 0 auto
  }

.App
  { min-height: 100vh
  ; max-width:1200px
  ; padding: 1em
  ; margin: 0 auto
  ; box-sizing: border-box
  }

.notes
  { text-align: center
  }

section
  { background: #fdfdfd
  ; padding:1em;
  ; min-height:5em;
  ; text-align: left;
  ; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }

sections 
  { border-radius: 2px
  ; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12)
  ; padding: 20px
  ; display:inline-block
  ; min-width: 320px
  ; min-height: 100%
  ; box-sizing: border-box
  }